<div class="flex flex-col items-center justify-center text-center py-12 text-gray-500 min-h-[50vh] sm:min-h-[60vh] lg:min-h-[70vh]">
  <img src="open-box-icon.png" class="w-12 h-12">
  <p class="mt-4 mb-2 text-2xl font-semibold text-gray-700">The cart is empty</p>
  <p class="text-gray-500 text-sm">Add items from the catalog</p>
</div>
