<div id="place_order_button" class="mt-8 w-full">
  <%= button_to "Place Order", cart_path, method: :delete, params: { cart_id: cart.id }, form: { data: { turbo_stream: true } }, class: "w-full bg-green-600 text-white font-bold py-3 px-6 rounded-lg hover:bg-green-500 transition-all duration-200" %>
</div>
