<div class="w-full">
  <div class="inline-flex items-center justify-between w-full">
    <h1 class="text-4xl">Cart</h1>
    <%= render "reset_button", cart: @cart %>
  </div>

  <%= turbo_frame_tag "cart_container" do %>
    <%= render "cart_container", cart: @cart %>
  <% end %>

  <%= render "add_items_buttons", cart: @cart %>
</div>
